$text-color: #000000;
$warning-color: #f0506e;

body{
	font-family: Roboto, sans-serif;
}
.header-logo{
	max-width: 250px;
}
.header-subnav>*>:first-child{
	text-transform: none;
}
.header-contacts__link{
	font-size: 28px;
	font-weight: bold;
	&:hover{
		text-decoration: none;
	}
}
.header-contacts__list{
	font-size: 14px;
	margin: {
		left: 20px;
		right: 20px;
	}
}
.header-navbar{
	nav{
		background: none !important;
	}
	.uk-navbar-nav>li>a{
		height: auto;
		padding: 20px;
		font-weight: bold;
		color: $text-color;
		letter-spacing: 1.01px;
		&:hover{
			color: $warning-color;
			transition: 0.4s color;
		}
	}
	.social-links{
		display: none;
	}
}
.header-navbar__list{
	border: {
		top: 1px solid #efefef;
		left: 1px solid #efefef;
	}
}
.header-navbar__item{
	border-right: 1px solid #efefef;
}
.header-info__mob-icon{
	display: none;
}
.header-navbar-contacts{
	display: none;
}
.search-block{
	.uk-search-default{
		width: auto;
	}
	.uk-search-default .uk-search-input{
		font-size: 20px;
		border: 1px solid #cccccc;
		padding:{
			top: 30px;
			bottom: 30px;
		}
	}
}
.basket{
	cursor: pointer;
}
.basket__qty{
	position: absolute;
	background: $warning-color;
	color: #ffffff;
	width: 20px;
	height: 20px;
	text-align: center;
	display: table;
	vertical-align: middle;
	font-size: 12px;
	right: 3px;
	bottom: 6px;
	font-weight: bold;

}
.sample-block{
	height: 220px;
}
.sample-block__link{
	width: 200px;
	display: block;
	text-decoration: none!important;
}
.sample-block__item{
	width: 0;
	height: 0;
	border-bottom: 100px solid #000000; 
	border-right: 100px solid transparent;	
	position: absolute;
	bottom: 0;
	left: 0;
}
.sample-block__text{
	color: $text-color;
	font-size: 24px;
	font-weight: bold;
	
}
.sample-block--bold{
	font-size: 45px;
}
.sample-block--align{
	float: right;
}
.sample-block__arrow{
	color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 20px;
	font-size: 36px;
	font-weight: bold;
}
.sample-block__img{
	position: absolute;
	top: -45px;
	right: -10px;
}
.attention-block{
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	justify-content: center;
	a{
		height: auto;
		padding: 20px;
		font-weight: bold;
		color: $text-color!important;
		letter-spacing: 1.01px;
		&:hover{
			color: $warning-color!important;
			transition: 0.4s color;
		}
	}
}

.product-price{
	color: $warning-color;
	font-weight: bold;
}
.rating--cheked{
	color: $warning-color
}
.footer-navbar{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 50px!important;
	.uk-navbar-nav>li>a{
		height: auto;
		padding: 20px;
		font-weight: bold;
		color: $text-color;
		letter-spacing: 1.01px;
		&:hover{
			color: $warning-color;
			transition: 0.4s color;
		}
	}
}
.social-links__img{
	max-width: 35px;
}
.footer-navbar__item{
	border-right: 1px solid #efefef;
}
.to-top{
	position: fixed;
	bottom: 5%;
	right: 5%;
	cursor: pointer;
	display: none;
}
@media screen and (max-width: 767px){
	.uk-offcanvas-bar{
		padding: 20px 10px;
	}
	.wrap{
		padding:{
			left: 10px;
			right: 10px;
		}
	}
	.header{
		padding: {
			top: 15px;
			bottom: 15px;
		}
	}
	.uk-navbar-left{
		display: block;
	}
	.header-navbar{
		nav{
			display: flex;
			background: #ffffff!important;
			flex-wrap: wrap;
			.uk-navbar-left{
				width: 100%
			}
		}
		.header-navbar__list{
			display: block;
			border: 0;

		}
		.header-navbar__item{
			border: 0;
			a{
				justify-content: flex-start;
				border-bottom: 1px solid #cccccc;
			}
		}
		.social-links{
			width: 100%;
			display: block;
		}
	}
	.header-navbar-contacts{
		width: 100%;
		text-align: center;
		display: block;
		a{
			font-size: 20px;
			width: 100%;
			display: block;
		}
	}
	.header-subnav{
		justify-content: space-between;
	}
	.header-logo{
		max-width: 150px;
	}
	.header-info__hide-item{
		display: none;
	}
	.header-info__mob-icon{
		display: block;
		width: 25px;
		padding: 0;
	}
	.header-contacts{
		display: none;
	}
	.header-auth{
		display: none;
	}
	.search-block{
		display: none;
	}
	.basket{
		display: none;
	}
	.sample-block{
		height: 150px;
	}
	.sample-block__link{
		width: 140px;
	}
	.sample-block__text{
		font-size: 18px;
	}
	.sample-block--bold{
		font-size: 24px;
		padding-left: 15px;
	}
	.sample-block__img{
		max-width: 65px;
		top: -15px;
	}
	.sample-block__item{
		border:{
			bottom: 65px solid #000000;
			right: 65px solid transparent;
		};
	}
	.sample-block__arrow{
		font-size: 24px;
		left: 10px;
	}
	.product-cart{
		.uk-card-body{
			padding: 5px;
		}
		img{
			height: 150px;
		}
	}
	.product-cart__name{
		font-size: 14px;
	}
	.product-price{
		font-size: 14px;
	}
	.rating__stars>*{
		width: 16px;
	}
	.about-us__text{
		font-size: 14px;
		text-align: justify;
	}
	.attention-block{
		margin-left: 0;
		justify-content: flex-start;
		li{
			padding-left: 0;
			width: 100%;
		}
		li>a{
			font-size: 10px!important;
		}
		
	}
	.footer-info{
		font-size: 14px;
		text-align: center;
		h3{
			font-size: 18px;
		}
		svg{
			width: 20px;
		}
	}
	.footer-navbar{
		justify-content: space-around;
		flex-wrap: wrap;
		.uk-navbar-nav{
			width: 100%;
			display: block;
			column-count: 2;
			border: 0;
		}

	}
	.footer-navbar__item{
		border: 0;

	}
	.footer-navbar .uk-navbar-nav > li > a{
		font-size: 12px;
		padding: 10px;
	}
	.social-links{
		padding:{
			top: 10px;
			bottom: 40px;
		};
	}
	.social-links__img{
		max-width: 35px;
	}
	.to-top{
		bottom: 10px;
		right: 15px;
	}
	.to-top__item{
		width: 50px;
		opacity: 0.5;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.header-wrap{
		padding: 10px 0 0 0 ;
	}
	.header-info{
		flex-wrap: wrap;
		justify-content: center;
		.uk-subnav{
			justify-content: center;
		}
	}
	.header-navbar {
		padding-right: 10px;
		.uk-navbar-left{
			align-items: flex-end;
		}
		.uk-navbar-nav { 
			li { 
				a{
					padding: 10px;
				}
			}
		}
	}
	.search-block {
		.uk-search-default .uk-search-input{
			padding: 20px 10px;
			font-size: 18px;
		}
	}
	.subnav-block{
		margin-right: 20px;
	}
	.header-contacts__link{
		font-size: 24px;
	}
	.sample-block{
		height: 180px;
	}
	.sample-block__text{
		font-size: 20px;
	}
	.sample-block--bold{
		font-size: 28px;
	}
	.sample-block__item{
		border-bottom: 70px solid #000000;
    	border-right: 70px solid transparent;
	}
	.sample-block__arrow{
		left: 10px;
		font-size: 30px;
	}
	.sample-block__img{
		width: 65px;
		top: -35px;
	}
	.product-cart{
		img{
			height: 200px;
		}
	}
	.footer-info{
		.uk-container{
			text-align: center;
		}
	}
	.footer-navbar{
		justify-content: space-around;
		flex-wrap: wrap;
		.uk-navbar-nav{
			width: 100%;
			display: block;
			column-count: 2;
			border: 0;
		}

	}
	.footer-navbar__item{
		border: 0;
	}
}